body {
	background-color: #616161;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.nav-wrapper img {
	max-width: 60%;
	vertical-align: middle;
}

nav a {
	max-height: 64px;
}

nav a#name {
	text-align: center;
}

nav a:hover {
	color: #FFEB3B;
}

.side-nav a:hover {
	color: gray;
}

div.navbar-fixed nav {
	background-color: #424242;
}

ul#mobile-demo {
	background-color: #FFEB3b;
	text-align: center;
}

.container.grey-text.text-lighten-4 {
	text-align: end;
}

#contact-me img {
	max-height: 200px;
}

.parallax-container {
	height: 350px !important;
}

div#contact-card {
	margin-left: 10%;
	margin-right: 10%;
}

i.material-icons {
	vertical-align: bottom;
}

#projects h1, h5 {
	text-shadow: 2px 2px #000;
}

ul.collection.with-header {
	background-color: #424242;
}

p#linkedinlink a:hover {
	color: #FFEB3b;
}

a#yellowbtn {
	color: gray;
}

a:hover#yellowbtn {
	color: white;
}

div.row.contact-card {
	margin-bottom: 0px;
}

div#experience.row.container li {
	list-style-type: square;
	margin-left: 3%;
}

div.logo img {
  max-width: 80%;
  height: 83px;
}